<html>
<head>
	<title>教室推荐|校园生活服务</title>
	
	{% load staticfiles %}<link href="{% static "css/bootstrap.css" %}" rel='stylesheet' type='text/css'>
	<script src="js/jquery.min.js"></script>
	{% load staticfiles %}<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" media="all" />
	
	<!-- Custom Theme files -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="UNITED COMMS Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
	
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	
	<!--webfont-->
	<link href='http://fonts.useso.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

</head>

<body>
	<!-- header-section-starts -->
	<div class="header">
		<div class="container">
			<div class="logo">
				<a href="index.html"><img src="/static/images/logo.jpg" class="img-responsive" alt="" /></a>
			</div>
			<div class="header-right">
				<h4><i class=""></i>Harbin Institute of Technology</h4>
				<span class="menu"></span>
				<div class="top-menu">
					<ul>
						<li><a href="/index">首页</a></li>
						<li><a class="active" href="/recommend">教室推荐</a></li>
						<li><a href="/search">教室查询</a></li>
						<li><a href="/navigation">校园导航</a></li>
						<li><a href="/reserve">教室预借</a></li>
						<li><a href="/login">统一身份认证</a></li>
					</ul>
				</div>
				<!-- script for menu -->
				<script>
				$( "span.menu" ).click(function() {
				  $( ".top-menu" ).slideToggle( "slow", function() {
				    // Animation complete.
				  });
				});
			</script>
			<!-- script for menu -->
			</div>
			<div class="clearfix"></div>
		</div>
	</div>

	<script type="text/javascript">
		function disp_alert()
		{
			alert("对不起，该教室已被借用！")
		}
	</script>

	{% for m in messageTeam %}
	<div class="cards_wrap no-image-shadow grayscale-images shadow clearfix" id="fifth_wrapper">
		<li class="cards" id="fifth_1">
			<form action="/reserveinfo/" method="post">
				{% if m.0.status.class12 == '0' %}
					<img src="/static/images/class-empty.png"/>
				{% else %}
					<img src="/static/images/class-not.png"/>
				{% endif %}
				<span class="main_caption">{{ buildingName }}{{ m.0.classroom.room }}</span>
				<p>{{ periodName }}</p>

				{% if m.0.status.class12 == '0' %}
				<input name="reserve_building" type="hidden" value="{{ m.0.classroom.building }}">
				<input name="reserve_room" type="hidden" value="{{ m.0.classroom.room }}">
				<input name="reserve_weeknum" type="hidden" value="{{ m.0.weeknum }}">
				<input name="reserve_week" type="hidden" value="{{ m.0.week }}">
				<input name="reserve_period" type="hidden" value="{{ period }}">
				<input type="submit" class="butn" value="Reserve It">				
				{% else %}
				<a type="button" onclick="disp_alert()" class="butn">Reserve It</a>
				{% endif %}
			</form>
		</li>
		
		<li class="cards" id="fifth_2">
			<form action="/reserveinfo/" method="post">
				{% if m.1.status.class12 == '0' %}
					<img src="/static/images/class-empty.png"/>
				{% else %}
					<img src="/static/images/class-not.png"/>
				{% endif %}
				<span class="main_caption">{{ buildingName }}{{ m.1.classroom.room }}</span>
				<p>{{ periodName }}</p>
				
				{% if m.1.status.class12 == '0' %}
				<input name="reserve_building" type="hidden" value="{{ m.1.classroom.building }}">
				<input name="reserve_room" type="hidden" value="{{ m.1.classroom.room }}">
				<input name="reserve_weeknum" type="hidden" value="{{ m.1.weeknum }}">
				<input name="reserve_week" type="hidden" value="{{ m.1.week }}">
				<input name="reserve_period" type="hidden" value="{{ period }}">
				<input type="submit" class="butn" value="Reserve It">
				{% else %}
				<a type="button" onclick="disp_alert()" class="butn">Reserve It</a>
				{% endif %}
			</form>
		</li>

		<li class="cards" id="fifth_3">
			<form action="/reserveinfo/" method="post">
				{% if m.2.status.class12 == '0' %}
					<img src="/static/images/class-empty.png"/>
				{% else %}
					<img src="/static/images/class-not.png"/>
				{% endif %}
				<span class="main_caption">{{ buildingName }}{{ m.2.classroom.room }}</span>
				<p>{{ periodName }}</p>
				
				{% if m.2.status.class12 == '0' %}
				<input name="reserve_building" type="hidden" value="{{ m.2.classroom.building }}">
				<input name="reserve_room" type="hidden" value="{{ m.2.classroom.room }}">
				<input name="reserve_weeknum" type="hidden" value="{{ m.2.weeknum }}">
				<input name="reserve_week" type="hidden" value="{{ m.2.week }}">
				<input name="reserve_period" type="hidden" value="{{ period }}">
				<input type="submit" class="butn" value="Reserve It">
				{% else %}
				<a type="button" onclick="disp_alert()" class="butn">Reserve It</a>
				{% endif %}
			</form>
		</li>
	
		<li class="cards" id="fifth_4">
			<form action="/reserveinfo/" method="post">
				{% if m.3.status.class12 == '0' %}
					<img src="/static/images/class-empty.png"/>
				{% else %}
					<img src="/static/images/class-not.png"/>
				{% endif %}
				<span class="main_caption">{{ buildingName }}{{ m.3.classroom.room }}</span>
				<p>{{ periodName }}</p>
				
				{% if m.3.status.class12 == '0' %}
				<input name="reserve_building" type="hidden" value="{{ m.3.classroom.building }}">
				<input name="reserve_room" type="hidden" value="{{ m.3.classroom.room }}">
				<input name="reserve_weeknum" type="hidden" value="{{ m.3.weeknum }}">
				<input name="reserve_week" type="hidden" value="{{ m.3.week }}">
				<input name="reserve_period" type="hidden" value="{{ period }}">
				<input type="submit" class="butn" value="Reserve It">				
				{% else %}
				<a type="button" onclick="disp_alert()" class="butn">Reserve It</a>
				{% endif %}
			</form>
		</li>
	</div>
	{% endfor %}


	<h2 id="three"></h2>
	<div class="cards_wrap grayscale-images shadow clearfix" id="first_wrapper" style="height: 450px">
		
		<li class="cards" id="first_1">
			<a href="images/test1.jpeg" rel="lightbox-one" title="Interior">
				<img rel="lightbox" src="/static/images/test1.jpeg"></a>
			<span class="main_caption">Building 1</span>
			<span class="sub_caption">Zhengxin Building</span>
		</li>

		<li class="cards" id="first_2">
			<a href="images/test2.jpeg" rel="lightbox-one" title="Interior">
				<img src="/static/images/test2.jpeg"></a>
			<span class="main_caption">Building 2</span>
			<span class="sub_caption">Zhizhi Building</span>
		</li>

		<li class="cards" id="first_3">
			<a href="images/test3.jpeg" rel="lightbox-one" title="Interior">
				<img src="/static/images/test3.jpeg"></a>
			<span class="main_caption">Building 3</span>
			<span class="sub_caption">Main Building</span>
		</li>

		<li class="cards" id="first_4">
			<a href="images/test4.jpeg" rel="lightbox-one" title="Interior">
				<img src="/static/images/test4.jpeg"></a>
			<span class="main_caption">Building 4</span>
			<span class="sub_caption">Chengyi Building</span>
		</li>
	</div>

	<div class="footer text-center">
		<div class="copyright">
			<p>Copyright &copy; 2015.HITCS Zhiming Liu & Rongpeng Zheng & Kai Lin All rights reserved</p>
		</div>
	</div>


	<script type="text/javascript" src="/static/js/jquery-latest.js"></script>
	<script type="text/javascript" src="/static/js/js.js"></script>
	<script type="text/javascript" src="/static/js/slimbox2.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

</body>
</html>