<html>
<head>
	<title>教室查询|校园生活服务</title>
	
	<!-- Custom Theme files -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="UNITED COMMS Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

	{% load staticfiles %}<link href="{% static "css/bootstrap.css" %}" rel='stylesheet' type='text/css'>
	{% load staticfiles %}<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" media="all" />

	<link href='http://fonts.useso.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
	
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<script src="js/jquery.min.js"></script>
</head>

<body>
	<!-- header-section-starts -->
	<div class="header">
		<div class="container">
			
			<div class="logo">
				<a href="index.html"><img src="/static/images/logo.jpg" class="img-responsive" alt="" /></a>
			</div>
			
			<div class="header-right">
				<h4><i class=""></i>Harbin Institute of Technology</h4>
				<span class="menu"></span>
				<div class="top-menu">
					<ul>                                              
						<li><a href="/index">首页</a></li>
						<li><a href="/recommend">教室推荐</a></li>
						<li><a class="active" href="/search">教室查询</a></li>
						<li><a href="/navigation">校园导航</a></li>
						<li><a href="/login">统一身份平台认证</a></li>
					</ul>
				</div>
				<!-- script for menu -->
				<script>
				$( "span.menu" ).click(function() {
				  $( ".top-menu" ).slideToggle( "slow", function() {
				  });
				});
			</script>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- header-section-ends -->

	<table>
		<tr>
			<th>楼层:</th>
			<th>
				<select>
					<option value ="volvo">F1</option>
					<option value ="saab">F2</option>
					<option value="opel">F3</option>
					<option value="audi">F4</option>
				</select></th>

			<th>楼层:</th>
			<th>
				<select>
					<option value ="volvo">Volvo</option>
					<option value ="saab">Saab</option>
					<option value="opel">Opel</option>
					<option value="audi">Audi</option>
				</select></th>
		</tr>
	</table>

	<div class="cards_wrap grayscale-images shadow clearfix" id="first_wrapper" style="height: 450px">
		<li class="cards" id="first_1">
			<a href="images/Zhengxin.jpg" rel="lightbox-one" title="Interior">
				<img rel="lightbox" src="/static/images/Zhengxin.jpg"></a>
			<span class="main_caption">正心楼</span>
			<span class="sub_caption">Zhengxin Building</span>
		</li>

		<li class="cards" id="first_2">
			<a href="images/Zhizhi.jpg" rel="lightbox-one" title="Interior">
				<img src="/static/images/Zhizhi.jpg"></a>
			<span class="main_caption">致知楼</span>
			<span class="sub_caption">Zhizhi Building</span>
		</li>

		<li class="cards" id="first_3">
			<a href="images/Zhulou.jpg" rel="lightbox-one" title="Interior">
				<img src="/static/images/ZhuLou.jpg"></a>
			<span class="main_caption">主楼</span>
			<span class="sub_caption">Main Building</span>
		</li>

		<li class="cards" id="first_4">
			<a href="images/Chengyi.jpg" rel="lightbox-one" title="Interior">
				<img src="/static/images/Chengyi.jpg"></a>
			<span class="main_caption">诚意楼</span>
			<span class="sub_caption">Chengyi Building</span>
		</li>
	</div>
		<!-- End of Cards_Wrap Main -->



	<div class="footer text-center">
		<div class="copyright">
			<p>Copyright &copy; 2015.HITCS Zhiming Liu & Rongpeng Zheng & Kai Lin All rights reserved</p>
		</div>
	</div>


	<script type="text/javascript" src="/static/js/jquery-latest.js"></script>
	<script type="text/javascript" src="/static/js/js.js"></script>
	<script type="text/javascript" src="/static/js/slimbox2.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

</body>
</html>